In [32]:
import pandas as pd

import numpy as np

from sklearn.linear_model import LinearRegression

In [33]:
train_data = pd.read_csv('kc_house_train_data.csv')

test_data = pd.read_csv('kc_house_test_data.csv')

In [34]:
train_data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,1.738400e+04,1.738400e+04,17384.000000,17384.000000,17384.000000,1.738400e+04,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000
mean,4.574349e+09,5.393666e+05,3.369363,2.115048,2080.029510,1.509191e+04,1.494248,0.007651,0.236079,3.410780,7.655028,1787.844512,292.184998,1971.152727,83.107973,98077.936896,47.559313,-122.213281,1985.994995,12776.380867
std,2.872356e+09,3.696912e+05,0.906468,0.771783,921.630888,4.145927e+04,0.539443,0.087136,0.768008,0.649792,1.169818,827.107595,444.404136,29.328722,398.692283,53.525617,0.138703,0.140906,686.512835,27175.730523
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.159300,-122.519000,399.000000,651.000000
25%,2.124087e+09,3.200000e+05,3.000000,1.750000,1420.000000,5.049500e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1200.000000,0.000000,1952.000000,0.000000,98033.000000,47.468650,-122.328000,1490.000000,5100.000000
50%,3.892800e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.616000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571400,-122.229000,1840.000000,7620.000000
75%,7.304301e+09,6.400000e+05,4.000000,2.500000,2550.000000,1.066525e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98117.000000,47.677625,-122.125000,2360.000000,10065.250000
max,9.900000e+09,7.700000e+06,10.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [74]:
'''
bedrooms_squared = bedrooms * bedrooms
bed_bath_rooms   = bedrooms * bathrooms
log_sqft_living  = log(sqft_living)
lat_plus_long    = lat + long
'''

def transform(data):
    data['bedrooms_squared'] = data['bedrooms'] * data['bedrooms']
    data['bed_bath_rooms'] = data['bedrooms'] * data['bathrooms']
    data['log_sqft_living'] = np.log(data['sqft_living'])
    data['lat_plus_long'] = data['lat'] + data['long']
    return data

In [75]:
train_data = transform(train_data)

In [77]:
train_data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
count,1.738400e+04,1.738400e+04,17384.000000,17384.000000,17384.000000,1.738400e+04,17384.000000,17384.000000,17384.000000,17384.000000,...,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000
mean,4.574349e+09,5.393666e+05,3.369363,2.115048,2080.029510,1.509191e+04,1.494248,0.007651,0.236079,3.410780,...,83.107973,98077.936896,47.559313,-122.213281,1985.994995,12776.380867,12.174241,7.496592,7.550349,-74.653968
std,2.872356e+09,3.696912e+05,0.906468,0.771783,921.630888,4.145927e+04,0.539443,0.087136,0.768008,0.649792,...,398.692283,53.525617,0.138703,0.140906,686.512835,27175.730523,6.731892,4.227952,0.424393,0.184071
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,...,0.000000,98001.000000,47.159300,-122.519000,399.000000,651.000000,0.000000,0.000000,5.669881,-75.171800
25%,2.124087e+09,3.200000e+05,3.000000,1.750000,1420.000000,5.049500e+03,1.000000,0.000000,0.000000,3.000000,...,0.000000,98033.000000,47.468650,-122.328000,1490.000000,5100.000000,9.000000,4.500000,7.258412,-74.768600
50%,3.892800e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.616000e+03,1.500000,0.000000,0.000000,3.000000,...,0.000000,98065.000000,47.571400,-122.229000,1840.000000,7620.000000,9.000000,7.000000,7.554859,-74.668250
75%,7.304301e+09,6.400000e+05,4.000000,2.500000,2550.000000,1.066525e+04,2.000000,0.000000,0.000000,4.000000,...,0.000000,98117.000000,47.677625,-122.125000,2360.000000,10065.250000,16.000000,10.000000,7.843849,-74.525300
max,9.900000e+09,7.700000e+06,10.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,...,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000,100.000000,67.500000,9.513404,-73.603800

In [78]:
def get_model(features, target):
    model = LinearRegression()
    model.fit(features, target)
    return model

In [79]:
'''
Model 1: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’, and ‘long’
Model 2: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, and ‘bed_bath_rooms’
Model 3: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, ‘bed_bath_rooms’, ‘bedrooms_squared’, ‘log_sqft_living’, and ‘lat_plus_long’
'''
price = train_data['price']

features1 = train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]
model1 = get_model(features1, price)

features2 = train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']]
model2 = get_model(features2, price)

features3 = train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms', 'bedrooms_squared', 'log_sqft_living', 'lat_plus_long']]
model3 = get_model(features3, price)

In [80]:
model1.coef_

array([  3.12258646e+02,  -5.95865332e+04,   1.57067421e+04,
         6.58619264e+05,  -3.09374351e+05])

In [81]:
model2.coef_

array([  3.06610053e+02,  -1.13446368e+05,  -7.14613083e+04,
         6.54844630e+05,  -2.94298969e+05,   2.55796520e+04])

In [82]:
def get_residual_sum_of_squares(model, data, real):
    predictions = model.predict(data)
    errors = real - predictions
    rss = sum(errors * errors)
    return rss

In [83]:
# model1.predict(np.matrix(train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]))
print(get_residual_sum_of_squares(model1, features1, price))

print(get_residual_sum_of_squares(model2, features2, price))

print(get_residual_sum_of_squares(model3, features3, price))

967879963049549.8
958419635074067.4
903436455050479.5

In [88]:
test_data = transform(test_data)

test_data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
count,4.229000e+03,4.229000e+03,4229.000000,4229.000000,4229.000000,4.229000e+03,4229.000000,4229.000000,4229.000000,4229.000000,...,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000
mean,4.604771e+09,5.430540e+05,3.376921,2.113561,2079.366280,1.516886e+04,1.494561,0.007094,0.227004,3.403878,...,89.722629,98077.951762,47.563092,-122.216426,1988.844171,12735.877749,12.446678,7.503902,7.550275,-74.653334
std,2.894017e+09,3.564212e+05,1.021434,0.763560,905.317454,4.126563e+04,0.542292,0.083936,0.759375,0.654686,...,413.736867,53.426623,0.137965,0.140497,680.837632,27829.200218,17.868973,4.227032,0.426554,0.182162
min,1.000102e+06,8.500000e+04,0.000000,0.000000,370.000000,6.000000e+02,1.000000,0.000000,0.000000,1.000000,...,0.000000,98001.000000,47.155900,-122.514000,700.000000,660.000000,0.000000,0.000000,5.913503,-75.177200
25%,2.110900e+09,3.250000e+05,3.000000,1.750000,1430.000000,5.027000e+03,1.000000,0.000000,0.000000,3.000000,...,0.000000,98032.000000,47.476600,-122.330000,1490.000000,5105.000000,9.000000,4.500000,7.265430,-74.767200
50%,4.019301e+09,4.530000e+05,3.000000,2.250000,1920.000000,7.633000e+03,1.500000,0.000000,0.000000,3.000000,...,0.000000,98065.000000,47.573400,-122.239000,1840.000000,7611.000000,9.000000,7.000000,7.560080,-74.667100
75%,7.338220e+09,6.500000e+05,4.000000,2.500000,2550.000000,1.076000e+04,2.000000,0.000000,0.000000,4.000000,...,0.000000,98118.000000,47.679500,-122.125000,2370.000000,10159.000000,16.000000,10.000000,7.843849,-74.528100
max,9.895000e+09,6.885000e+06,33.000000,7.750000,9890.000000,1.024068e+06,3.500000,1.000000,4.000000,5.000000,...,2015.000000,98199.000000,47.777600,-121.315000,5030.000000,858132.000000,1089.000000,57.750000,9.199279,-73.602000

In [89]:
test_price = test_data['price']

test_features1 = test_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]
test_features2 = test_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']]
test_features3 = test_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms', 'bedrooms_squared', 'log_sqft_living', 'lat_plus_long']]

In [90]:
print(get_residual_sum_of_squares(model1, test_features1, test_price))

print(get_residual_sum_of_squares(model2, test_features2, test_price))

print(get_residual_sum_of_squares(model3, test_features3, test_price))

225500469795490.5
223377462976466.2
259236319207180.06